/.metadata/
.vs/TPIntegrador_Grupo1_AppWeb/FileContentIndex/8e5d3169-08a7-4c45-accd-38a2ec9423d9.vsidx
.vs/TPIntegrador_Grupo1_AppWeb/FileContentIndex/ad67dfb5-1aa0-427e-937b-18fabbfb965d.vsidx
.vs/TPIntegrador_Grupo1_AppWeb/FileContentIndex/afd88830-932e-4266-99d7-88b507648f25.vsidx
.vs/TPIntegrador_Grupo1_AppWeb/FileContentIndex/55eae32e-a3ba-4af8-9a71-d17de37899dd.vsidx
